@import './src/variables';

.SVGRow1, .SVGRow2 {
  svg {
    height: 100%;
    width: 100%;
  }
}

.letterContainer {
  path {
    fill-opacity: 1;
    stroke: $white;
    stroke-width: 0;
    transition: all 0.3s;
  }

  &:hover {
    path {
      fill-opacity: 0;
      stroke: $white;
      stroke-width: 4px;
    }
  }
}

.SVGRow1 {
  max-width: 200px;
  width: 70%;
}

.SVGRow2 {
  margin-top: 5px;
  max-width: 280px;
  width: 100%;
}

@media (min-width: 650px) {
  .SVGRow1 {
    max-width: none;
  }

  .SVGRow2 {
    max-width: none;
  }
}
