{
  "extends": "airbnb",
  "env": {
    "browser": true,
  },
  "parser": 'babel-eslint',
  "rules": {
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to", "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "max-len": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "no-useless-escape": 0,
    "react/forbid-prop-types": 0,
  }
}
