.conference {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    margin: 10px 0 25px;
    opacity: 0.8;
    letter-spacing: normal;
    font-weight: 500;
  }

  .options {
    display: flex;
    margin-top: 20px;
    > a {
      margin-left: 0;
    }
  }

  &.darkmode {
    h1,
    h2 {
      color: var(--color-white);
    }
  }
}
