@import './src/variables';

.job {
  padding-bottom: 60px;
  position: relative;

  .jobTitle {
    color: $black;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
  }

  .jobInfo {
    color: $black;
    font-weight: bold;
    transition: color 0.3s;
  }

  .jobDescription {
    color: $black;
    font-weight: 300;
    margin-top: 20px;
    transition: color 0.3s, font-weight 0.3s;
  }

  .years {
    display: none;
    position: absolute;
    right: 0;
    top: 0;

    .start, .end {
      align-items: center;
      background-color: $black;
      border-radius: 50px;
      display: flex;
      height: 60px;
      justify-content: center;
      transition: background-color 0.3s;
      width: 60px;
      z-index: 2;

      >div {
        align-items: center;
        background-color: $black;
        border: 5px solid $white;
        border-radius: 50px;
        color: $white;
        display: flex;
        font-family: 'Saira Condensed', sans-serif;
        font-weight: bold;
        height: 50px;
        justify-content: center;
        transition: background-color 0.3s, border 0.3s, color 0.3s;
        width: 50px;
        z-index: 2;
      }
    }

    .end {
      position: absolute;
      right: -110px;
      top: 20px;
    }

    .start {
      position: absolute;
      right: -110px;
    }

    .yearLine {
      border: 3px dashed $black;
      height: 0;
      position: absolute;
      right: -84px;
      top: 40px;
      transition: height 0.5s, border 0.3s;
      width: 0;
      z-index: 1;
    }
  }
}

.darkMode {
  .jobTitle {
    color: $white;
  }

  .jobInfo, .jobDescription {
    color: rgba($white, 0.8);
  }

  a {
    box-shadow: inset 0 -2px 0 0 $purple;
    color: $white;
    opacity: 0.8;
    transition: box-shadow 0.3s, color 0.3s, opacity 0.3;

    &:hover {
      box-shadow: inset 0 -16px 0 0 $purple;
      opacity: 1;
    }
  }

  .years {
    .start, .end {
      background-color: $white;

      >div {
        background-color: $white;
        border: 5px solid $black;
        color: $black;
      }
    }

    .yearLine {
      border: 3px dashed $white;
    }
  }
}

@media (min-width: 450px) {
  .job {
    .years {
      display: block;
    }
  }
}

@media (min-width: 650px) {
  .job {
    .years {
      .end {
        right: -210px;
      }

      .start {
        right: -210px;
      }

      .yearLine {
        right: -184px;
      }
    }
  }
}
