@import './src/shared/styles/variables';

.homeContainer {
  background-color: $teal;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;

  h2 {
    color: $white;
  }
}

.homeBlock {
  background-color: $black;
  bottom: 0;
  padding: 30px;
  perspective: 1000px;
  position: absolute;
  transition: width 0.3s;
  width: 100%;
}

.social {
  display: flex;
}

@media (min-width: 650px) {
  .homeBlock {
    right: 10%;
    width: 45%;
  }
}
