@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@import url(https://fonts.googleapis.com/css?family=Saira+Condensed:500,700);@import url(https://fonts.googleapis.com/css?family=Lato:300,400);@keyframes styles__fade-in__2ObS9 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles__fade-in-delay__1jSoj {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles__slide-in__3sLHF {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles__slide-up-left__33v-q {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles__slide-down-right__1HXjr {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles__twist__17LRY {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

body {
  background-color: #343434;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

h1 {
  color: #343434;
  font-family: "Saira Condensed", sans-serif;
  font-size: 30px;
  margin: 5px 0;
  text-transform: uppercase; }

h2 {
  color: #343434;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 5px 0; }

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  margin: 5px 0; }

input, textarea {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  color: #343434;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
  padding: 15px;
  width: calc(100% - 20px); }

a {
  box-shadow: inset 0 -2px 0 0 #28ffb2;
  color: #343434;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: box-shadow 0.3s; }
  a:hover {
    box-shadow: inset 0 -16px 0 0 #28ffb2; }
.styles-module__container__CMpub {
  height: 100%;
  position: absolute;
  transition: background-color 0.3s;
  width: 100%; }
@keyframes styles-module__fade-in__3YRAk {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__McWMk {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__2RKDp {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__3Mhr6 {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__1Mo24 {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__3wsOe {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__container__3_Y8f {
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in__3YRAk;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }
  .styles-module__container__3_Y8f h2 {
    color: #fff; }

.styles-module__block__1a8OQ {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: styles-module__slide-in__2RKDp;
  background-color: #343434;
  bottom: 0;
  padding: 30px;
  perspective: 1000px;
  position: absolute;
  transition: width 0.3s;
  width: 100%; }

.styles-module__social__2tirs {
  display: flex;
  margin-top: 7px; }

@media (min-width: 650px) {
  .styles-module__block__1a8OQ {
    right: 10%;
    width: 60%; } }

@media (min-width: 900px) {
  .styles-module__block__1a8OQ {
    right: 10%;
    width: 50%; } }
@keyframes styles-module__fade-in__3YKy8 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__3ktZ6 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__3_u5v {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__2H2DS {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__1V3E5 {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__3CQpl {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__SVGRow1__1got8 svg, .styles-module__SVGRow2__1hEqG svg {
  height: 100%;
  width: 100%; }

.styles-module__letterContainer__EFVKN path {
  fill-opacity: 1;
  stroke: #fff;
  stroke-width: 0;
  transition: all 0.3s; }

.styles-module__letterContainer__EFVKN:hover path {
  fill-opacity: 0;
  stroke: #fff;
  stroke-width: 4px; }

.styles-module__SVGRow1__1got8 {
  max-width: 200px;
  width: 70%; }

.styles-module__SVGRow2__1hEqG {
  margin-top: 5px;
  max-width: 280px;
  width: 100%; }

@media (min-width: 650px) {
  .styles-module__SVGRow1__1got8 {
    max-width: none; }
  .styles-module__SVGRow2__1hEqG {
    max-width: none; } }
.styles-module__container__6fQxZ {
  margin-right: 5px;
  opacity: 0.5;
  transition: opacity 0.3s; }
  .styles-module__container__6fQxZ:hover {
    opacity: 1; }
  .styles-module__container__6fQxZ a {
    box-shadow: none; }
@keyframes styles-module__fade-in__i_5IK {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__pB7te {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__dhdSs {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__2g2s3 {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__3i7eq {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__3HZ5c {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__container__26rmK {
  align-items: center;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in__i_5IK;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.styles-module__wrapper__B3338 {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in-delay__pB7te;
  position: relative;
  text-align: center;
  transition: width 0.3s;
  width: 80%; }

.styles-module__content__3y6zJ {
  background-color: #fff;
  padding: 40px;
  position: relative;
  z-index: 2; }

.styles-module__blackBox__3JRd4 {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: styles-module__slide-up-left__2g2s3;
  border: 5px solid #343434;
  height: 100%;
  left: -20px;
  position: absolute;
  top: -20px;
  width: 100%;
  z-index: 1; }

.styles-module__whiteBox__KYJwS {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: styles-module__slide-down-right__3i7eq;
  border: 5px solid #fff;
  height: 100%;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 1; }

@media (min-width: 750px) {
  .styles-module__wrapper__B3338 {
    width: 50%; } }
@keyframes styles-module__fade-in___riY2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__1UjVB {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__tOppP {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__2HUMJ {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__1QAws {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__1k5nD {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__container__3Vgqq {
  align-items: center;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in___riY2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.styles-module__wrapper__2q2Xu {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in-delay__1UjVB;
  max-width: 600px;
  position: relative;
  text-align: center;
  transition: width 0.3s;
  width: 80%; }
  .styles-module__wrapper__2q2Xu h1 {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: styles-module__twist__1k5nD;
    background-color: #343434;
    color: #fff;
    font-size: 40px;
    left: 50%;
    margin-left: -100px;
    padding: 5px;
    position: relative;
    transform: rotate(-10deg);
    width: 230px;
    z-index: 1; }
  .styles-module__wrapper__2q2Xu input {
    position: relative;
    z-index: 2; }

.styles-module__error__1lmEK {
  background-color: #ff7f50;
  border: 2px solid #343434;
  color: #fff;
  font-weight: bold;
  margin: 5px 10px;
  padding: 10px 0; }

.styles-module__btn__2I3U3 {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #343434;
  color: #fff;
  cursor: pointer;
  font-family: "Saira Condensed", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin: 10px;
  text-transform: uppercase;
  transition: background-color 0.3s; }
  .styles-module__btn__2I3U3:hover {
    background-color: #28ffb2;
    color: #343434; }
@keyframes styles-module__fade-in__2mD7w {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__uExEw {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__jEvc8 {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__2JwYa {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__1hwBg {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__1Chz6 {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__container__ClYGI {
  align-items: center;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in__2mD7w;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.styles-module__wrapper__1Zfdg {
  align-items: center;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in-delay__uExEw;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: width 0.3s;
  width: 250px; }
  .styles-module__wrapper__1Zfdg h1, .styles-module__wrapper__1Zfdg p {
    width: 200px; }
@keyframes styles-module__fade-in__2ZlN- {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__3o3_z {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__2k1mU {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__3BNmA {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__zhO8k {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__WDlBJ {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__container__2eN33 {
  align-items: center;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in__2ZlN-;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.styles-module__wrapper__15Dhs {
  align-items: center;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in-delay__3o3_z;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: width 0.3s;
  width: 250px; }
  .styles-module__wrapper__15Dhs h1, .styles-module__wrapper__15Dhs p {
    width: 200px; }
@keyframes styles-module__fade-in__3AudF {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__1Zgmp {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__3UyF4 {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__2pLHL {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__3fMck {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__Zbnda {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__container__yUoD7 {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: styles-module__fade-in-delay__1Zgmp;
  display: block;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%; }

.styles-module__letter__2jyV8 {
  padding: 5px;
  position: absolute; }
@keyframes styles-module__fade-in__3MNDA {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__5s54B {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__1ds-Z {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__16pz_ {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__2uMMm {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__2_YVn {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__dotBlack__1bLJp {
  margin: 0 2px; }
  .styles-module__dotBlack__1bLJp .styles-module__circleFill__1pZ_J {
    fill: #343434;
    fill-opacity: 1;
    transition: fill-opacity 0.3s; }
  .styles-module__dotBlack__1bLJp .styles-module__circleStroke__htRrT {
    fill: #fff;
    fill-opacity: 0;
    opacity: 0;
    stroke: #fff;
    transition: opacity 0.3s; }
  .styles-module__dotBlack__1bLJp:hover .styles-module__circleFill__1pZ_J {
    fill-opacity: 0; }
  .styles-module__dotBlack__1bLJp:hover .styles-module__circleStroke__htRrT {
    opacity: 1; }

.styles-module__dotWhite__10Ct7 {
  margin: 0 2px; }
  .styles-module__dotWhite__10Ct7 .styles-module__circleFill__1pZ_J {
    fill: #343434;
    fill-opacity: 0;
    transition: fill-opacity 0.3s; }
  .styles-module__dotWhite__10Ct7 .styles-module__circleStroke__htRrT {
    fill: #fff;
    fill-opacity: 0;
    opacity: 1;
    stroke: #fff;
    transition: opacity 0.3s; }
  .styles-module__dotWhite__10Ct7:hover .styles-module__circleFill__1pZ_J {
    fill-opacity: 1; }
  .styles-module__dotWhite__10Ct7:hover .styles-module__circleStroke__htRrT {
    opacity: 0; }
@keyframes styles-module__fade-in__BjCrM {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__2IVQa {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__1cD_y {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__1dMfL {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__pBC93 {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__3BcoX {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__dashBlack__L6UOJ {
  margin: 0 2px; }
  .styles-module__dashBlack__L6UOJ .styles-module__dashFill__1f6KR {
    fill: #343434;
    fill-opacity: 1;
    transition: fill-opacity 0.3s; }
  .styles-module__dashBlack__L6UOJ .styles-module__dashStroke__QO9De {
    fill: #fff;
    fill-opacity: 0;
    opacity: 0;
    stroke: #fff;
    transition: opacity 0.3s; }
  .styles-module__dashBlack__L6UOJ:hover .styles-module__dashFill__1f6KR {
    fill-opacity: 0; }
  .styles-module__dashBlack__L6UOJ:hover .styles-module__dashStroke__QO9De {
    opacity: 1; }

.styles-module__dashWhite__1uHjc {
  margin: 0 2px; }
  .styles-module__dashWhite__1uHjc .styles-module__dashFill__1f6KR {
    fill: #343434;
    fill-opacity: 0;
    transition: fill-opacity 0.3s; }
  .styles-module__dashWhite__1uHjc .styles-module__dashStroke__QO9De {
    fill: #fff;
    fill-opacity: 0;
    opacity: 1;
    stroke: #fff;
    transition: opacity 0.3s; }
  .styles-module__dashWhite__1uHjc:hover .styles-module__dashFill__1f6KR {
    fill-opacity: 1; }
  .styles-module__dashWhite__1uHjc:hover .styles-module__dashStroke__QO9De {
    opacity: 0; }
@keyframes styles-module__fade-in__3EAnL {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__fade-in-delay__2VICt {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes styles-module__slide-in__2G3E2 {
  0% {
    bottom: -100%; }
  50% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes styles-module__slide-up-left__2h2gK {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: -20px;
    top: -20px; } }

@keyframes styles-module__slide-down-right__1HJRj {
  0% {
    left: 0;
    top: 0; }
  75% {
    left: 0;
    top: 0; }
  100% {
    left: 20px;
    top: 20px; } }

@keyframes styles-module__twist__1qSRX {
  0% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

.styles-module__container__3mhDs {
  position: relative;
  z-index: 2; }
  .styles-module__container__3mhDs ul {
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0; }

.styles-module__links__3hEv_ {
  position: relative; }
  .styles-module__links__3hEv_ a {
    background-color: #fff;
    box-shadow: none;
    color: #343434;
    display: inline-block;
    font-family: "Saira Condensed", sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    margin: 0;
    padding: 5px 16px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    top: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
    transition: background-color 0.3s, color 0.3s, width 0.3s;
    width: 90px; }
    .styles-module__links__3hEv_ a svg {
      height: 18px;
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 29px;
      transform: rotate(-90deg);
      transform-origin: 0 0;
      transition: opacity 0.3s;
      width: 18px; }
      .styles-module__links__3hEv_ a svg path, .styles-module__links__3hEv_ a svg circle {
        fill: #fff;
        transition: fill 0.3s; }
    .styles-module__links__3hEv_ a:hover {
      background-color: #343434;
      color: #fff;
      width: 110px; }
      .styles-module__links__3hEv_ a:hover svg {
        opacity: 1; }
        .styles-module__links__3hEv_ a:hover svg path, .styles-module__links__3hEv_ a:hover svg circle {
          fill: #fff; }

.styles-module__selected__2YK9J a {
  background-color: #343434;
  color: #fff;
  width: 110px; }
  .styles-module__selected__2YK9J a svg {
    opacity: 1; }
    .styles-module__selected__2YK9J a svg path, .styles-module__selected__2YK9J a svg circle {
      fill: #fff; }

.styles-module__item1__Pfw90 {
  left: 50px; }

.styles-module__item2__2vKEg {
  left: 100px; }

.styles-module__item3__1H70H {
  left: 150px; }
