.container {
  margin-right: 5px;
  transition: opacity var(--transition), background-color var(--transition);
  background-color: var(--color-black);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  svg {
    width: 100%;
    path {
      transition: fill var(--transition);
      fill: var(--color-white);
    }
  }

  a {
    display: block;
    width: 36px;
    height: 36px;
    padding: 8px;
    box-shadow: none;
  }

  @include hover {
    background-color: var(--color-teal);
    a {
      box-shadow: none;
    }
    svg {
      path {
        fill: var(--color-black);
      }
    }
  }
}

.darkmode {
  background-color: var(--color-white);
  svg {
    path {
      fill: var(--color-black);
    }
  }

  @include hover {
    background-color: var(--color-purple);
    a {
      box-shadow: none;
    }
    svg {
      path {
        fill: var(--color-white);
      }
    }
  }
}
