@keyframes text-slide-out-full {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.social {
  display: flex;
  margin-top: 40px;
}

.about {
  .aboutHeader {
    display: flex;
    // align-items: center;
    // justify-content: center;
    // .imgContainer {
    //   animation-duration: 1s;
    //   animation-iteration-count: 1;
    //   animation-name: fade-in-delay;
    //   background-color: var(--color-black);
    //   border: 5px solid var(--color-black);
    //   border-radius: 50%;
    //   display: block;
    //   height: 160px;
    //   width: 160px;
    //   overflow: hidden;
    //   z-index: 4;
    //   flex-shrink: 0;

    //   img {
    //     animation-duration: 1s;
    //     animation-iteration-count: 1;
    //     animation-name: fade-in-delay;
    //   }

    //   @include media($small-lowest, down) {
    //     height: 130px;
    //     width: 130px;
    //   }

    //   @include media(420px, down) {
    //     height: 100px;
    //     width: 100px;
    //   }
    // }

    .heyThere {
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-name: text-slide-out-full;
      background-color: var(--color-black);
      max-width: 450px;
      text-align: center;
      width: 100%;
      z-index: 3;
    }

    h1 {
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-name: text-fade-in;
      color: var(--color-white);
      display: block;
      font-size: 60px;
      line-height: 70px;

      @include media($small-lowest, down) {
        font-size: 40px;
        line-height: 50px;
      }

      @include media(420px, down) {
        font-size: 34px;
        line-height: 44px;
      }
    }
  }

  .wrapper {
    max-width: 900px;
    margin: 60px auto 0 auto;

    h2 {
      font-family: var(--font-saira);
      font-size: 30px;
      line-height: 36px;
      margin: 40px 0 15px 0;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 15px;
    }
  }

  &.darkmode {
    .aboutHeader {
      .imgContainer {
        background-color: var(--color-white);
        border: 5px solid var(--color-white);
      }

      .heyThere {
        background-color: var(--color-white);
      }

      h1 {
        color: var(--color-black);
      }
    }

    .wrapper {
      h2,
      p {
        color: var(--color-white);
      }
    }
  }
}
