@import './src/variables';

.container {
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-name: fade-in;
  background-color: $teal;
  height: 100vh;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;

  h2 {
    color: $white;
  }
}

.block {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: slide-in;
  background-color: $black;
  bottom: 0;
  padding: 30px;
  perspective: 1000px;
  position: absolute;
  transition: width 0.3s;
  width: 100%;
}

.social {
  display: flex;
  margin-top: 7px;
}

@media (min-width: 650px) {
  .block {
    right: 10%;
    width: 45%;
  }
}
