@import './src/variables';

.container {
  align-items: center;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-name: fade-in;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.wrapper {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fade-in-delay;
  max-width: 600px;
  position: relative;
  text-align: center;
  transition: width 0.3s;
  width: 80%;

  h1 {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: twist;
    background-color: $black;
    color: $white;
    font-size: 40px;
    left: 50%;
    margin-left: -100px;
    padding: 5px;
    position: relative;
    transform: rotate(-10deg);
    width: 230px;
    z-index: 1;
  }

  input {
    position: relative;
    z-index: 2;
  }
}

.error {
  background-color: $peach;
  border: 2px solid $black;
  color: $white;
  font-weight: bold;
  margin: 5px 10px;
  padding: 10px 0;
}

.btn {
  appearance: none;
  background-color: $black;
  color: $white;
  cursor: pointer;
  font-family: $fontSaira;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin: 10px;
  text-transform: uppercase;
  transition: background-color 0.3s;

  &:hover {
    background-color: $teal;
    color: $black;
  }
}
