.lettersContainer{
  display: inline-block;
  padding: 0px 3px 0px 3px;
  svg{
    transform:scale(1);
    animation: flipped-from 0.3s;
    height:100%;
    width:100%;
  }
  &:hover{
    svg{
      animation: flipped-to 0.3s;
      transform:scaleX(-1);
    }
  }
}
