@import './src/shared/styles/variables';

.container {
  position: relative;
  z-index: 2;
}

.headerLinks {
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;

  li {
    background-color: $white;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 5px 10px;
    transform: rotate(90deg);
    transform-origin: 0 0;

    a {
      color: $black;
      font-family: $fontSaira;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }
}
