@import './src/shared/styles/variables';

.container {
  position: relative;
  z-index: 2;
}

.headerLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 15px;

    a {
      color: $black;
      font-family: $fontSaira;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }
}
