.SVGRow1, .SVGRow2{
  svg{
    width:100%;
    height:100%;
    .letterContainer{
      path{
        transition: all 0.3s;
        fill-opacity: 1;
        stroke: white;
        stroke-width: 0px;
      }
      &:hover{
        path{
          fill-opacity: 0;
          stroke: white;
          stroke-width: 4px;
        }
      }
    }
  }
}

.SVGRow1{
  width:70%;
  max-width: 140px;
}

.SVGRow2{
  width:100%;
  margin-top:5px;
  max-width: 200px;
}

@media (min-width: 650px) {
  .SVGRow1{
    max-width: none;
  }

  .SVGRow2{
    max-width: none;
  }
}
