@import './src/shared/styles/variables';

.dot {
  margin: 0 2px;
  
  .circleFill {
    fill: $black;
    fill-opacity: 1;
    transition: fill-opacity 0.3s;
  }

  .circleStroke {
    fill: $white;
    opacity: 0;
    stroke: $white;
    transition: opacity 0.3s;
  }

  &:hover {
    .circleFill {
      fill-opacity: 0;
    }

    .circleStroke {
      opacity: 1;
    }
  }
}
