@import './src/variables';

.dotBlack {
  margin: 0 2px;

  .circleFill {
    fill: $black;
    fill-opacity: 1;
    transition: fill-opacity 0.3s;
  }

  .circleStroke {
    fill: $white;
    fill-opacity: 0;
    opacity: 0;
    stroke: $white;
    transition: opacity 0.3s;
  }

  &:hover {
    .circleFill {
      fill-opacity: 0;
    }

    .circleStroke {
      opacity: 1;
    }
  }
}

.dotWhite {
  margin: 0 2px;

  .circleFill {
    fill: $black;
    fill-opacity: 0;
    transition: fill-opacity 0.3s;
  }

  .circleStroke {
    fill: $white;
    opacity: 1;
    fill-opacity: 0;
    stroke: $white;
    transition: opacity 0.3s;
  }

  &:hover {
    .circleFill {
      fill-opacity: 1;
    }

    .circleStroke {
      opacity: 0;
    }
  }
}
