@import './src/variables';

.container {
  align-items: center;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-name: fade-in;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.wrapper {
  align-items: center;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fade-in-delay;
  background-color: $white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: width 0.3s;
  width: 250px;

  h1, p {
    width: 200px;
  }
}
