// colors
$black: #343434;
$white: #fff;
$teal: #28ffb2;
$peach: #ff7f50;

// fonts
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$fontSaira: 'Saira Condensed', sans-serif;
$fontLato: 'Lato', sans-serif;
