// colors
$black: #343434;
$white: #fff;
$teal: #28ffb2;
$peach: #ff7f50;
$purple: #9e42f4;
$pink: #f142f4;
$yellow: #f4e541;
$red: #dc143c;
$green: #24e500;

// fonts
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$fontSaira: 'Saira Condensed', sans-serif;
$fontLato: 'Lato', sans-serif;

// animations
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-delay {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    bottom: -100%;
  }

  50% {
    bottom: -100%;
  }

  100% {
    bottom: 0;
  }
}

@keyframes slide-up-left {
  0% {
    left: 0;
    top: 0;
  }

  75% {
    left: 0;
    top: 0;
  }

  100% {
    left: -20px;
    top: -20px;
  }
}

@keyframes slide-down-right {
  0% {
    left: 0;
    top: 0;
  }

  75% {
    left: 0;
    top: 0;
  }

  100% {
    left: 20px;
    top: 20px;
  }
}

@keyframes twist {
  0% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@keyframes text-slide-out-120 {
  0% {
    padding: 0;
    width: 0;
  }

  50% {
    padding: 0;
    width: 0;
  }

  75% {
    padding: 0 30px;
    width: calc(100% - 120px);
  }
}

@keyframes text-slide-out-90 {
  0% {
    padding: 0;
    width: 0;
  }

  50% {
    padding: 0;
    width: 0;
  }

  75% {
    padding: 0 30px;
    width: calc(100% - 90px);
  }
}

@keyframes text-slide-out-full {
  0% {
    padding: 0;
    width: 0;
  }

  50% {
    padding: 0;
    width: 0;
  }

  75% {
    padding: 0 30px;
    width: 100%;
  }
}

@keyframes text-fade-in-1 {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-fade-in-2 {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
