@import './src/shared/styles/variables';

.dash {
  margin: 0 2px;
  
  .dashFill {
    fill: $black;
    fill-opacity: 1;
    transition: fill-opacity 0.3s;
  }

  .dashStroke {
    fill: $white;
    opacity: 0;
    stroke: $white;
    transition: opacity 0.3s;
  }

  &:hover {
    .dashFill {
      fill-opacity: 0;
    }

    .dashStroke {
      opacity: 1;
    }
  }
}
