.container {
  .pdfWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  .nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    p {
      font-size: 13px;
    }

    > button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      font-family: var(--font-lato);
      opacity: 0.8;
      transition: opacity var(--transition);

      svg {
        fill: var(--color-black);
        height: 15px;
        position: relative;
        top: 3px;
        width: 15px;
      }

      &:disabled {
        opacity: 0.6;
        pointer-events: none;
      }

      @include hover {
        opacity: 1;
      }

      &:first-child {
        margin: 0 0 0 -8px;

        svg {
          transform: rotate(180deg);
        }
      }

      &:last-child {
        margin: 0 -8px 0 0;
      }
    }
  }

  &.darkMode {
    .nav {
      button {
        color: var(--color-white);

        svg {
          fill: var(--color-white);
        }
      }

      p {
        color: var(--color-white);
      }
    }
  }
}
