.container {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fade-in;
  display: block;
  opacity:1;
  position: relative;
}

.letter {
  padding: 5px;
  position: absolute;
}

@keyframes fade-in {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
