@import './src/variables';

.container {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fade-in-delay;
  display: block;
  opacity: 1;
  position: relative;
}

.letter {
  padding: 5px;
  position: absolute;
}
